@mixin claerfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//MEDIA QUERY
//@mixin respond-phone {
//  @media (max-width: 600px) {
//    @content;
//  }
//
//  @media (max-width: 900px) {
//  }
//}

/*
$breakPoint argument
- phone
- tab-port
- tab-land
- big-desktop
 */
@mixin respond($breakPoint) {
  @if $breakPoint == phone {
    @media (max-width: 37.5em) { //600px
      @content;
    }
  }
  @if $breakPoint == tab-port {
    @media (max-width: 56.25em) { //900px
      @content;
    }
  }
  @if $breakPoint == tab-land {
    @media (max-width: 75em) { //1200px
      @content;
    }
  }
  @if $breakPoint == big-desktop {
    @media (min-width: 112.5em) { //1800
      @content;
    }
  }
}
